{% extends "layout.html" %} {% block content %}
<div class="content-section">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <h1>Detach Services</h1>
        <p>Select a relation to detach</p>
        <div class="form-group">
            <label for="relation">Relation:</label>
            {{ form.relation(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    {{ chart_output|safe }}
</div>
{% endblock content %}